div.connection_content{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    width: auto;
}

a.con_links{
    text-decoration: none;
    color: red;
    text-shadow: 0px 0px 4px red;
    font-size: 4vh;
}

ol{
    font-size: 5vh;
}

p{
    font-size: 7vh;
}